<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/posts.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Desafio | Posts</title>
</head>
<body>
    <div class="title-container">
        <h1 class="title">Posts</h1>
        <p> <a href="../index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Go back</a> </p>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr id="table-header">
                    <th>User</th>
                    <th>Title</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>

    <script src="../js/posts.js"></script>
</body>
</html>